.badge {
  border-radius: 9999px;
  background-color: var(--theme-error);
  color: var(--theme-on-error);
  overflow: hidden;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge_size-small {
  width: 6px;
  height: 6px;
}

.badge_size-large-single {
  width: 16px;
  height: 16px;
}

.badge_size-large {
  height: 16px;
  padding-right: 4px;
  padding-left: 4px;
}
