.button {
  border-radius: 9999px;
  height: 40px;
  outline: 0;
  border: none;
  background-color: transparent;
  color: transparent;
  position: relative;
  overflow: hidden;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button > * {
  margin-right: 8px;
}

.button > *:last-child {
  margin-right: 0;
}

.button__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button__content_center {
  justify-content: center;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.button[data-enabled="true"] {
  cursor: pointer;
}

.button[data-enabled="false"] {
  cursor: not-allowed;
}

.button_variant-filled,
.button_variant-outlined,
.button_variant-elevated,
.button_variant-tonal {
  padding-left: 24px;
  padding-right: 24px;
}

.button_variant-filled.button_icon-left,
.button_variant-outlined.button_icon-left,
.button_variant-elevated.button_icon-left,
.button_variant-tonal.button_icon-left {
  padding-left: 16px;
}

.button_variant-filled.button_icon-right,
.button_variant-outlined.button_icon-right,
.button_variant-elevated.button_icon-right,
.button_variant-tonal.button_icon-right {
  padding-right: 16px;
}

.button_variant-text {
  padding-left: 12px;
  padding-right: 12px;
}

.button_variant-text.button_icon-left {
  padding-right: 16px;
}

.button_variant-text.button_icon-right {
  padding-left: 16px;
}

.button_variant-filled[data-enabled="true"] {
  color: var(--theme-on-primary);
  background-color: var(--theme-primary);
}

.button_variant-filled[data-enabled="true"]:hover {
  box-shadow: var(--theme-elevation-1);
}

.button_variant-filled[data-enabled="true"]:hover::after {
  background-color: rgba(var(--theme-on-primary-rgb), 0.08);
}

.button_variant-filled[data-enabled="true"]:focus::after {
  background-color: rgba(var(--theme-on-primary-rgb), 0.12);
}

.button_variant-filled[data-enabled="true"]:active::after {
  background-color: rgba(var(--theme-on-primary-rgb), 0.12);
}

.button_variant-filled[data-enabled="false"] {
  color: rgba(var(--theme-on-surface-rgb), 0.38);
  background-color: rgba(var(--theme-on-surface-rgb), 0.12);
}

.button_variant-outlined[data-enabled="true"] {
  color: var(--theme-primary);
  border: 1px solid var(--theme-outline);
}

.button_variant-outlined[data-enabled="true"]:hover {
  background-color: rgba(var(--theme-primary-rgb), 0.08);
}

.button_variant-outlined[data-enabled="true"]:focus {
  border-color: var(--theme-primary);
  background-color: rgba(var(--theme-primary-rgb), 0.12);
}

.button_variant-outlined[data-enabled="true"]:active {
  background-color: rgba(var(--theme-primary-rgb), 0.12);
}

.button_variant-outlined[data-enabled="false"] {
  color: rgba(var(--theme-on-surface-rgb), 0.38);
  border: 1px solid rgba(var(--theme-on-surface-rgb), 0.12);
}

.button_variant-text[data-enabled="true"] {
  color: var(--theme-primary);
}

.button_variant-text[data-enabled="true"]:hover {
  background-color: rgba(var(--theme-primary-rgb), 0.08);
}

.button_variant-text[data-enabled="true"]:focus {
  background-color: rgba(var(--theme-primary-rgb), 0.12);
}

.button_variant-text[data-enabled="true"]:active {
  background-color: rgba(var(--theme-primary-rgb), 0.12);
}

.button_variant-text[data-enabled="false"] {
  color: rgba(var(--theme-on-surface-rgb), 0.38);
}

.button_variant-elevated[data-enabled="true"] {
  color: var(--theme-primary);
  background-color: var(--theme-surface);
  box-shadow: var(--theme-elevation-1);
}

.button_variant-elevated[data-enabled="true"]::after {
  background-color: rgba(var(--theme-primary-rgb), 0.05);
}

.button_variant-elevated[data-enabled="true"]:hover {
  box-shadow: var(--theme-elevation-2);
}

.button_variant-elevated[data-enabled="true"]:hover::after {
  background-color: rgba(var(--theme-primary-rgb), 0.08);
}

.button_variant-elevated[data-enabled="true"]:focus {
  box-shadow: var(--theme-elevation-1);
}

.button_variant-elevated[data-enabled="true"]:focus::after {
  background-color: rgba(var(--theme-primary-rgb), 0.05);
}

.button_variant-elevated[data-enabled="true"]:active {
  box-shadow: var(--theme-elevation-1);
}

.button_variant-elevated[data-enabled="true"]:active::after {
  background-color: rgba(var(--theme-primary-rgb), 0.12);
}

.button_variant-elevated[data-enabled="false"] {
  background-color: rgba(var(--theme-on-surface-rgb), 0.12);
  color: rgba(var(--theme-on-surface-rgb), 0.38);
}

.button_variant-tonal[data-enabled="true"] {
  color: var(--theme-on-secondary-container);
  background-color: var(--theme-secondary-container);
}

.button_variant-tonal[data-enabled="true"]:hover {
  box-shadow: var(--theme-elevation-1);
}

.button_variant-tonal[data-enabled="true"]:hover::after {
  background-color: rgba(var(--theme-on-secondary-container), 0.08);
}

.button_variant-tonal[data-enabled="true"]:focus::after {
  background-color: rgba(var(--theme-on-secondary-container), 0.12);
}

.button_variant-tonal[data-enabled="true"]:active::after {
  background-color: rgba(var(--theme-on-secondary-container), 0.12);
}

.button_variant-tonal[data-enabled="false"] {
  background-color: rgba(var(--theme-on-surface-rgb), 0.12);
  color: rgba(var(--theme-on-surface-rgb), 0.38);
}
