.typography_variant-display-large {
  font-family: var(--theme-typography-display-large-face);
  font-size: var(--theme-typography-display-large-font-size);
  letter-spacing: var(--theme-typography-display-large-letter-spacing);
  line-height: var(--theme-typography-display-large-line-height);
  font-weight: var(--theme-typography-display-large-weight);
}

.typography_variant-display-medium {
  font-family: var(--theme-typography-display-medium-face);
  font-size: var(--theme-typography-display-medium-font-size);
  letter-spacing: var(--theme-typography-display-medium-letter-spacing);
  line-height: var(--theme-typography-display-medium-line-height);
  font-weight: var(--theme-typography-display-medium-weight);
}

.typography_variant-display-small {
  font-family: var(--theme-typography-display-small-face);
  font-size: var(--theme-typography-display-small-font-size);
  letter-spacing: var(--theme-typography-display-small-letter-spacing);
  line-height: var(--theme-typography-display-small-line-height);
  font-weight: var(--theme-typography-display-small-weight);
}

.typography_variant-headline-large {
  font-family: var(--theme-typography-headline-large-face);
  font-size: var(--theme-typography-headline-large-font-size);
  letter-spacing: var(--theme-typography-headline-large-letter-spacing);
  line-height: var(--theme-typography-headline-large-line-height);
  font-weight: var(--theme-typography-headline-large-weight);
}

.typography_variant-headline-medium {
  font-family: var(--theme-typography-headline-medium-face);
  font-size: var(--theme-typography-headline-medium-font-size);
  letter-spacing: var(--theme-typography-headline-medium-letter-spacing);
  line-height: var(--theme-typography-headline-medium-line-height);
  font-weight: var(--theme-typography-headline-medium-weight);
}

.typography_variant-headline-small {
  font-family: var(--theme-typography-headline-small-face);
  font-size: var(--theme-typography-headline-small-font-size);
  letter-spacing: var(--theme-typography-headline-small-letter-spacing);
  line-height: var(--theme-typography-headline-small-line-height);
  font-weight: var(--theme-typography-headline-small-weight);
}

.typography_variant-title-large {
  font-family: var(--theme-typography-title-large-face);
  font-size: var(--theme-typography-title-large-font-size);
  letter-spacing: var(--theme-typography-title-large-letter-spacing);
  line-height: var(--theme-typography-title-large-line-height);
  font-weight: var(--theme-typography-title-large-weight);
}

.typography_variant-title-medium {
  font-family: var(--theme-typography-title-medium-face);
  font-size: var(--theme-typography-title-medium-font-size);
  letter-spacing: var(--theme-typography-title-medium-letter-spacing);
  line-height: var(--theme-typography-title-medium-line-height);
  font-weight: var(--theme-typography-title-medium-weight);
}

.typography_variant-title-small {
  font-family: var(--theme-typography-title-small-face);
  font-size: var(--theme-typography-title-small-font-size);
  letter-spacing: var(--theme-typography-title-small-letter-spacing);
  line-height: var(--theme-typography-title-small-line-height);
  font-weight: var(--theme-typography-title-small-weight);
}

.typography_variant-label-large {
  font-family: var(--theme-typography-label-large-face);
  font-size: var(--theme-typography-label-large-font-size);
  letter-spacing: var(--theme-typography-label-large-letter-spacing);
  line-height: var(--theme-typography-label-large-line-height);
  font-weight: var(--theme-typography-label-large-weight);
}

.typography_variant-label-medium {
  font-family: var(--theme-typography-label-medium-face);
  font-size: var(--theme-typography-label-medium-font-size);
  letter-spacing: var(--theme-typography-label-medium-letter-spacing);
  line-height: var(--theme-typography-label-medium-line-height);
  font-weight: var(--theme-typography-label-medium-weight);
}

.typography_variant-label-small {
  font-family: var(--theme-typography-label-small-face);
  font-size: var(--theme-typography-label-small-font-size);
  letter-spacing: var(--theme-typography-label-small-letter-spacing);
  line-height: var(--theme-typography-label-small-line-height);
  font-weight: var(--theme-typography-label-small-weight);
}

.typography_variant-body-large {
  font-family: var(--theme-typography-body-large-face);
  font-size: var(--theme-typography-body-large-font-size);
  letter-spacing: var(--theme-typography-body-large-letter-spacing);
  line-height: var(--theme-typography-body-large-line-height);
  font-weight: var(--theme-typography-body-large-weight);
}

.typography_variant-body-medium {
  font-family: var(--theme-typography-body-medium-face);
  font-size: var(--theme-typography-body-medium-font-size);
  letter-spacing: var(--theme-typography-body-medium-letter-spacing);
  line-height: var(--theme-typography-body-medium-line-height);
  font-weight: var(--theme-typography-body-medium-weight);
}

.typography_variant-body-small {
  font-family: var(--theme-typography-body-small-face);
  font-size: var(--theme-typography-body-small-font-size);
  letter-spacing: var(--theme-typography-body-small-letter-spacing);
  line-height: var(--theme-typography-body-small-line-height);
  font-weight: var(--theme-typography-body-small-weight);
}
