.checkbox {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  --background: transparent;
  --border: transparent;
  --color: transparent;
  --circle: transparent;
  --ripple: transparent;
}

.checkbox__check {
  border-color: var(--border);
  background-color: var(--background);
  color: var(--color);
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.checkbox__circle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--circle);
  border-radius: 9999px;
  z-index: -1;
  transition-property: background-color, color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  overflow: hidden;
}

.checkbox_enabled {
  --border: var(--theme-on-surface-variant);
  --circle: rgba(var(--theme-on-surface-rgb), 0.08);
  cursor: pointer;
}

.checkbox_disabled {
  cursor: not-allowed;
}

.checkbox_enabled.checkbox_focused {
  --circle: rgba(var(--theme-on-surface-rgb), 0.12);
  --ripple: rgba(var(--theme-primary-rgb), 0.2);
}

.checkbox_enabled.checkbox_selected,
.checkbox_enabled.checkbox_indeterminate {
  --background: var(--theme-primary);
  --border: var(--background);
  --color: var(--theme-on-primary);
  --circle: rgba(var(--theme-primary-rgb), 0.08);
  --ripple: rgba(var(--theme-on-surface-rgb), 0.2);
}

.checkbox_enabled.checkbox_focused.checkbox_selected,
.checkbox_enabled.checkbox_focused.checkbox_indeterminate {
  --circle: rgba(var(--theme-primary-rgb), 0.12);
}

.checkbox_enabled.checkbox_error {
  --border: var(--theme-error);
  --ripple: rgba(var(--theme-error-rgb), 0.2);
}

.checkbox_enabled.checkbox_error.checkbox_selected,
.checkbox_enabled.checkbox_error.checkbox_indeterminate {
  --background: var(--theme-error);
  --border: var(--background);
  --color: var(--theme-on-error);
}

.checkbox_enabled.checkbox_error,
.checkbox_enabled.checkbox_error {
  --circle: rgba(var(--theme-error-rgb), 0.08);
}

.checkbox_enabled.checkbox_focused.checkbox_error,
.checkbox_enabled.checkbox_focused.checkbox_error {
  --circle: rgba(var(--theme-error-rgb), 0.12);
}

.checkbox_disabled {
  --border: rgba(var(--theme-on-surface-rgb), 0.38);
}

.checkbox_disabled.checkbox_selected,
.checkbox_disabled.checkbox_indeterminate {
  --background: rgba(var(--theme-on-surface-rgb), 0.38);
  --border: transparent;
  --color: var(--theme-on-primary);
}
